
@{
    ViewBag.Title = "LogOff";
}

<h2>LoggedOff Successfully!</h2>
<div class="container">
    <div class="form-control">
        <a style="cursor:pointer" href="~/"> Home</a> |
        <a style="cursor:pointer" href="~/CustomerAccount/Login"> Login</a>

    </div>
</div>
