@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body background="http://sipsavorlodi.com/wp-content/uploads/2018/09/31-white-background-hd-high-resolution-desktop-wallpaper-download-plain-background-hd-images-home-wallpaper.jpg">
    <style>
        body {
            text-align:unset;
            background-repeat: no-repeat;
            background-size: cover
        }
    </style>
    <font size="4">
        <p>Experience graceful style and contemporary comfort for your visit to the City of Halifax. </p>
        <p>The Dan's Happy hotel offers everything business travelers and vacationing families need for a successful stay, just steps away from waterfront.</p>
        <p>Make yourself at home in your exquisitely designed room or suite, which offers deluxe bedding, high-speed internet access and luxury marble bathrooms with rain showers and oversized tubs.</p>
        <p>Dining is a pleasure at our hotel; in addition to a 24-hour restaurant, we offer fine dining at a relaxed lounge.</p>
        <p>Our serene spa features a full menu of indulgent treatments, and we offer a pool and a modern gym as well.</p>
        <p>Those planning business or social events here in Hyderabad will be thrilled with our 55,000 square feet of versatile indoor/outdoor function space.</p>
        <p>And thanks to our central location, you can enjoy hassle-free exploration of the city.</p>
        <p>Experience the future of travel with us here at the Dan's Happy Hotel.</p>
    </font>
    </body>