@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body background="http://sipsavorlodi.com/wp-content/uploads/2018/09/31-white-background-hd-high-resolution-desktop-wallpaper-download-plain-background-hd-images-home-wallpaper.jpg">
    <style>
        body {
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover
        }
        </style>

        <address >
        This Street beside That Street<br / >
        Halifax, NS B3E567<br / >
        <abbr title="Phone" > P:</abbr >
        999.999.9999
        </address >

        <address >
        <strong > Support:</strong > <a href="mailto:Support@example.com" > Support@DHH.com</a > <br / >
        <strong > Marketing:</strong > <a href="mailto:Marketing@example.com" > Marketing@DHH.com</a >
        </address >
    </body>